#home{
    background-color: rgb(20, 88, 235);
    height: 100vh;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#part1{
    background-color: rgb(255, 255, 255);
    height: 100vh; 
    width: auto;
    display: grid;
    grid-template-columns: 0px 0px 0px;
    padding: 0px;
}

#a1{
   
    height: 100vh;
    width: 50%;
    background-color: aquamarine;
    
    
}

#a2{
   
    height: 100vh;
    width: 50%;
    background-color: rgb(199, 199, 199);
    
    
    right: 0px;
    
}

#nav_principal{
    width: 100%;
    position: fixed;
}

.teste{
    height: 800px;
}

#title{
    text-align: center;
    color: white;
    
}
#subtitle{
    text-align: center;
    color: white;
}

#button{
    text-align: center;
    color: white;
}